* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    height: 100vh;
    background-color: #5e8b7e;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  